a {text-decoration: none;
    color: #FF4D00;}
    
    #logosushiwave {position: relative;
    left: 625px;
    bottom: 35px;}

#voltar {font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    border-radius: 9px;
    padding: 7px;
border: solid 4px #FF4D00;
width: 100px;
    height: 25px;
    text-align: center;
position: relative;
bottom: 125px;
left: 1200px;
font-size: 20px;}

#cabeçalho {text-align: center;
font-size: 50px;
position: relative;
bottom: 50px;}

#texto {position: relative;
font-size: 25px;
left: 200px;
border: solid 1px;
padding: 15px;
width: 1480px;}

